/lesson_03/src/Calculate/nbproject/private/
/lesson_03/src/Calculate/build/
/lesson_04/Calculate/nbproject/private/
/lesson_04/Calculate/build/
/lesson_04/CalcExecutor/nbproject/private/
/lesson_04/CalcExecutor/build/
/lesson_04/ConsolCalc/nbproject/private/
/lesson_04/ConsolCalc/build/
/lesson_04/CalcMavem/target/